.saveBtnPopUp{
    background-image: url("../images/popup/save_button.gif") !important;
    width: 24px;
    height: 24px;
}

.deleteBtnPopUp{
    background-image: url("../images/popup/save_button.gif") !important;
    width: 24px;
    height: 24px;
}

