.saveBtnPopUp{
    background-image: url("../images/popup/save.gif") !important;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    border-style: none;
    background-color: transparent;
}

.deleteBtnPopUp{
    background-image: url("../images/popup/trash.gif") !important;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    border-style: none;
    background-color: transparent;
}

.helpBtnPopUp{
    background-image: url("../images/popup/help.gif") !important;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    border-style: none;
    background-color: transparent;
}

#titlePopup,#titlePopupObj,#titlePopupTest {
    padding-top : 10px;
}

#arrow , #arrowObj, #arrowTest{
    color : #A6A6A6;
    font-size: 12px;
}

.modal-content{
    width : 400px;
}

