<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Copyright 2012 Google Inc.
  -
  - Licensed under the Apache License, Version 2.0 (the "License"); you may not
  - use this file except in compliance with the License. You may obtain a copy
  - of the License at
  -
  - http://www.apache.org/licenses/LICENSE-2.0
  -
  - Unless required by applicable law or agreed to in writing, software
  - distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  - WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  - License for the specific language governing permissions and limitations
  - under the License.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  id="WebApp_ID" version="2.5">

    <servlet>
        <display-name>VoiceRecordHandler</display-name>
        <servlet-name>VoiceRecordHandler</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.VoiceRecordHandler</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>VoiceRecordHandler</servlet-name>
        <url-pattern>/VoiceRecordHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VoiceAnalyzeHandler</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.VoiceAnalyzeHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VoiceAnalyzeHandler</servlet-name>
        <url-pattern>/VoiceAnalyzeHandler</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RegisterHandler</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.RegisterHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterHandler</servlet-name>
        <url-pattern>/RegisterHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthHandler</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.AuthHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthHandler</servlet-name>
        <url-pattern>/AuthHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserProfileHandler</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.UserProfileHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserProfileHandler</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FeedbackHandler</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.FeedbackHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedbackHandler</servlet-name>
        <url-pattern>/FeedbackHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SummaryReport</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.SummaryReportHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SummaryReport</servlet-name>
        <url-pattern>/SummaryReport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Feedbacks</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.Feedbacks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Feedbacks</servlet-name>
        <url-pattern>/Feedbacks</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LicenseHandler</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.LicenseHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LicenseHandler</servlet-name>
        <url-pattern>/LicenseHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LicenseCodes</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.LicenseCodes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LicenseCodes</servlet-name>
        <url-pattern>/LicenseCodes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.Users</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UserManage</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.UserManage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManage</servlet-name>
        <url-pattern>/UserManage</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AppDetails</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.AppDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppDetails</servlet-name>
        <url-pattern>/AppDetails</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Admins</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.Admins</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admins</servlet-name>
        <url-pattern>/Admins</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.Dashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Pronunciations</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.Pronunciations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pronunciations</servlet-name>
        <url-pattern>/Pronunciations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Pronunciationss</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.Pronunciationss</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Pronunciationss</servlet-name>
        <url-pattern>/Pronunciationss</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>TranscriptionServlet</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.TranscriptionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TranscriptionServlet</servlet-name>
        <url-pattern>/TranscriptionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecorderServlet</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.RecorderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RecorderServlet</servlet-name>
        <url-pattern>/RecorderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecorderServletNumber</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.RecorderServletNumber</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RecorderServletNumber</servlet-name>
        <url-pattern>/RecorderServletNumber</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientCodeServlet</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.ClientCodeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientCodeServlet</servlet-name>
        <url-pattern>/ClientCodeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListCompanyServlet</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.ListCompanyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListCompanyServlet</servlet-name>
        <url-pattern>/ListCompanyServlet</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>AWSServiceHandler</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.AWSServiceHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AWSServiceHandler</servlet-name>
        <url-pattern>/awsservice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResetPasswordHandler</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.ResetPasswordHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPasswordHandler</servlet-name>
        <url-pattern>/ResetPasswordHandler</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActivationHandler</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.ActivationHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivationHandler</servlet-name>
        <url-pattern>/activate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TranscriptionHandler</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.amt.TranscriptionHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TranscriptionHandler</servlet-name>
        <url-pattern>/transcription</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecordedSentenceHandler</servlet-name>
        <servlet-class>com.cmg.vrc.servlet.amt.RecordedSentenceHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecordedSentenceHandler</servlet-name>
        <url-pattern>/recordedsentence</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>dashboard.jsp</welcome-file>
    </welcome-file-list>
</web-app>
